
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero" style="background-image:url('img/single-wound-sheeting.jpg');" data-0="background-position:50% 50%;" data-500="background-position:50% 40%;">
    <div class="dark-overlay"></div>
    <div class="hero-inner anim-in fadeInUp">
        <h1>UK Manufacturers of Polythene Bags & Film.</h1>
        <a href="#" class="diag-border">View Our Products</a>
    </div>
    <span class="down-arrow"></span>
</section>
<section class="market-sectors padding-60">
    <h2>Our Market Sectors</h2>
    <p class="section-intro">The advanced equipment we utilise allows us to satisfy large and small orders quickly and accurately.</p>
    <div class="container market-sectors-container">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

            </div>
            <div class="col-sm-6">
                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>

                <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                    <img src="img/market-sector-thumb-1.jpg" alt="food processing" />
                    <div class="sector-copy">
                        <h3>Food Processing</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="centre-element">
        <a href="#" class="rounded-section-btn">View All Market Sectors</a>
    </div>

</section>

<section class="our-products padding-60 light-grey-section">
    <h2>Our Products</h2>
    <p class="section-intro">Plasmech Packaging only manufacture BRC approved products. These can be supplied in a variety of material blends.</p>
    <ul class="rounded-link-list">
        <li><a href="#">Sheets</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#">Liners</a></li>
        <li><a href="#">Sacks</a></li>
    </ul>
</section>



<section class="latest-news padding-60">
    <h2>News</h2>
    <p class="section-intro">Keep up to date with our latest news and products.</p>

    <div class="container wide-margins">
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="centre-element">
        <a href="#" class="rounded-section-btn">View All News</a>
    </div>

</section>