//@import "bourbon";
@import "../mixins/colors";
@import "../mixins/custom-mixins";

header#main-header {
    background:$pl-blue;
    padding:16px 0;
    #plasmech-logo-header {
        max-width:161px;
        margin-top:9px;
        .st0 {
            fill:#ffffff;
        }
    }
    nav#main-nav {
        float:right;
        ul {
            list-style:none;
            margin:0;
            li {
                display:inline;
                padding:0 16px;
                a {
                    color:#ffffff;
                    text-decoration:none;
                    padding:14px 21px;
                    font-size:1em;
                    min-height:48px;
                    line-height:20px;
                    display:inline-block;
                    @include border-radius(24px);
                    @include transition(all 0.25s);
                    &:hover {
                        background:lighten($pl-blue, 10%);
                    }
                }
                &:last-child {
                    padding-right:0;
                }
            }
        }
    }
}

