
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="market-sectors article-padding" role="main">


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <h1>Our Market Sectors</h1>

                <p class="section-intro">The advanced equipment we utilise allows us to satisfy large and small orders quickly and accurately.</p>

                <div class="market-sectors-container">

                    <div class="row">
                        <div class="col-sm-6">
                            <a href="~/sectors/sector" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>

                            <a href="#" class="anim-in fadeIn" data-wow-duration="0.75s" data-wow-delay="0.1s">
                                <img src="~/img/market-sector-thumb-1.jpg" alt="food processing" />
                                <div class="sector-copy">
                                    <h3>Food Processing</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>