
@{
    ViewBag.Title = "Sector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-article article-padding" role="main">


    <div class="container wide-margins">
        <div class="row">

            <div class="col-md-3 left-nav-col">

                <div class="article-further-links">
                    <a href="#" class="rounded-section-btn">Share</a>
                </div>

                <div class="clear"></div>

                <nav class="article-subnav">
                    <ul>
                        <li>
                            <span>Food Processing</span>
                            <ul>
                                <li><a href="#">Laundry</a></li>
                                <li><a href="#">Plastics Manufacturing</a></li>
                                <li><a href="#">Pharmaceutical</a></li>
                                <li><a href="#">Wholesalers</a></li>
                                <li><a href="#">Aquatics</a></li>
                                <li><a href="#">Foam & Fibre</a></li>
                                <li><a href="#">Specialist</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>


            </div>

            <div class="col-md-9 right-content-col">
                <h1>Food Processing</h1>

                <div class="article-img-container">
                    <div class="article-img-slider diag-border">
                        <div>
                            <img src="~/img/article-image.jpg" alt="article image" class="article-img diag-border" />
                        </div>
                        <div>
                            <img src="~/img/article-image-2.jpg" alt="article image" class="article-img diag-border" />
                        </div>
                        <div>
                            <img src="~/img/article-image-3.jpg" alt="article image" class="article-img diag-border" />
                        </div>
                    </div>
                </div>


                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <ul>
                    <li>Consectetur adipiscing elit.</li>
                    <li>Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan.</li>
                    <li>Neque sapien consequat est, at feugiat metus dui et arcu.</li>
                </ul>

                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <div class="related-article">
                    <h3>Related Products</h3>

                    <ul class="rounded-link-list">
                        <li><a href="#">Sheets</a></li>
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Liners</a></li>
                        <li><a href="#">Sacks</a></li>
                    </ul>

                </div>

            </div>

        </div>
    </div>
</section>