
@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="main-article article-padding" role="main">


    <div class="container">
        <div class="row">


            <div class="col-md-10 col-md-offset-1 right-content-col">
                <h1 class="smaller-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>

                <div class="article-img-container">
                    <img src="~/img/article-image.jpg" alt="article image" class="article-img diag-border" />
                </div>

                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <ul>
                    <li>Consectetur adipiscing elit.</li>
                    <li>Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan.</li>
                    <li>Neque sapien consequat est, at feugiat metus dui et arcu.</li>
                </ul>

                <p>Consectetur adipiscing elit. Nam luctus molestie facilisis. In dapibus, risus at ullamcorper accumsan, neque sapien consequat est, at feugiat metus dui et arcu. Vestibulum et erat vitae urna congue tempus. Cras purus nisi, egestas sit amet justo ac.</p>

                <a href="#" class="rounded-section-btn">Share</a>

            </div>

        </div>
    </div>
</section>