
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="all-news padding-60">
    <h2>News</h2>
    <p class="section-intro">Keep up to date with our latest news and products.</p>

    <div class="category-dropdowns">
        <p class="section-intro">Dropdowns to go here.</p>
    </div>

    <div class="container wide-margins">
        <div class="row">
            <div class="col-sm-3">
                <a href="~/news/article" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>

            <div class="col-sm-3">
                <a href="#" class="summary-link">
                    <img src="img/news-thumb.jpg" alt="news thumb" class="diag-border" />
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                </a>
                <ul class="summary-info">
                    <li>28 Nov</li>
                    <li><a href="#">Category</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="centre-element">
        <div class="article-paging">
            <a href="#">Next</a>

            <ul>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>

            <a href="#">Prev</a>
        </div>

    </div>

</section>